@import "vars/fonts.css";

.root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 240rem;
  text-align: left;
}

.root > Video {
  width: 230rem;
  height: 150rem;
}

.root > h2 {
  color: #2e384d;
  font-size: 18rem;
  font-weight: 400;
  font-family: var(--font-family);
}

.root > p {
  color: #959eaf;
  font-family: var(--font-family);
  font-size: 16rem;
  font-weight: 400;
  line-height: 22rem;
}

@media (max-width: 700px) {
  .root {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 800rem;
  }
  .root > h2 {
    font-size: 40rem;
    margin: 0rem;
    margin-top: 15rem;
  }
  .root > p {
    font-size: 35rem;
    line-height: 30rem;
    margin: 0rem;
    margin-top: 15rem;
    margin-bottom: 60rem;
  }
}
