@import "vars/fonts.css";

.root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 50rem;
}

.root > div:nth-child(1) {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 170rem;
  justify-content: center;
}

.root > div:nth-child(1) > h2 {
  color: #2e384d;
  font-family: var(--font-family);
  font-weight: 550;
  font-size: 36rem;
  margin: 0rem;
  margin-bottom: 25rem;
}

.root > div:nth-child(1) > h3 {
  color: #959eaf;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 22rem;
  margin: 0rem;
}

.root > div:nth-child(2) {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 50rem;
}

.root > div:nth-child(2) > iframe {
  width: 450rem;
  height: 300rem;
  margin-right: 90rem;
}

 .video {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 500rem;
  height: 240rem;
  padding-top: 30rem;
}

 .video > h3 {
  color: #ec4067;
  font-family: var(--font-family);
  font-weight: 400;
  text-transform: uppercase;
  margin: 0rem;
  font-size: 22rem;
}

 .video > p {
  color: #959eaf;
  font-family: var(--font-family);
  font-size: 16rem;
  font-weight: 400;
  line-height: 22rem;
  margin: 0rem;
}
.video > h4 {
  color: #ec4067;
  font-family: var(--font-family);
  font-weight: 400;
  line-height: 22rem;
  margin: 0rem;
  font-size: 14rem;
}

.video > h4 > span {
  color: #959eaf;
}

.root > div:nth-child(3) {
  display: flex;
  flex-direction: column;
  height: 440rem;
  border-top: 1rem solid #e6e6e6;
}

.root > div:nth-child(3) > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100rem;
}

.root > div:nth-child(3) > div > h3 {
  color: #959eaf;
  font-family: var(--font-family);
  font-size: 22rem;
  font-weight: 400;
  margin: 0rem;
}

.root > div:nth-child(3) > ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  list-style: none;
  padding: 0rem;
}

.root > div:nth-child(3) > ul > li {
  margin-right: 50rem;
}





