@import "vars/fonts.css";

.button {
  all: initial;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  font-family: var(--font-family);
  font-size: 14rem;
  font-weight: 0;
  width: 115rem;
  height: 34rem;
  border-radius: 5rem;
}

.primary {
  color: #ffffff;
  background-color: #ec4067;
}

.default {
  color: #959eaf;
}

.open {
  color: #ec4067;
  background-color: #ffffff;
  border: 2rem solid #ec4067;
  font-size: 15rem;
  text-transform: uppercase;
  font-weight: 500;
}
