@import "vars/fonts.css";

.button {
  all: initial;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  font-family: var(--font-family);
  font-size: 14rem;
  font-weight: 0;
  width: 115rem;
  height: 34rem;
  border-radius: 5rem;
  padding-left: 20rem;
  padding-right: 20rem;
  cursor: pointer;
}

.primary {
  color: #ffffff;
  background-color: #ec4067;
}

.default {
  color: #959eaf;
}

.open {
  color: #ec4067;
  background-color: #ffffff;
  border: 2rem solid #ec4067;
  font-size: 15rem;
  text-transform: uppercase;
  font-weight: 500;
}

.gold {
  color: #3b414e;
  border: 1px solid #ffd76a;
  font-size: 14px;
  font-weight: 400;
  background-color: rgb(255, 255, 255, 0.6);
}

@media (max-width: 700px) {
  .button {
    font-size: 28rem;
    width: 230rem;
    height: 55rem;
    border-radius: 10rem;
  }
}
