@import "vars/fonts.css";

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #dcdfe2;
}

.container > div:first-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 145px;
}

.container > div:first-child > h2 {
  text-align: center;
  color: #2f394e;
  font-size: 36px;
  font-family: var(--font-family);
  margin: 0px;
  font-weight: 500;
}

 .container ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content: space-around;
  text-align: center;
  vertical-align: middle;
  margin: 0px;
  padding: 0px;
  list-style: none;
 }

 .container li {
   margin-bottom: 70px;
 }

