@import "vars/fonts.css";

.space {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 300rem;
}

.space > div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 180rem;
  width: 100%;
}

.space > h3 {
  color: #50597b;
  font-family: var(--font-family);
  margin: 0rem;
  margin-top: 30rem;
  font-size: 22rem;
}

.space > p {
  color: #959eaf;
  font-family: var(--font-family);
  font-size: 16rem;
  font-weight: 400;
  line-height: 22rem;
  max-height: 60rem;
  margin: 0rem;
  margin-top: 30rem;
}

.button_open {
  display: flex;
  justify-content: center;
  align-items: center;
}
