@import "vars/fonts.css";

.root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 250rem;
  height: 200rem;
  background-color: #ffffff;
}

.root > div:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
}

.root > div:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50rem;
  background-color: #f2f2f2;

}

.root > div:last-child > span {
  color: #959eaf;
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 300;

}

