@import "vars/fonts.css";

.root {
  width: 250rem;
  height: 200rem;
  background-color: #ffffff;
  position: relative;
}

.active {
  display: none;
}

.root:hover .active {
  display: block;
}

/*.passive > div:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.passive > div:first-child > .img {
  margin: 60rem 94rem 40rem 96rem;
}

.passive > div:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
}

.passive > div:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:rgb(242, 242, 242);
}

.passive > div:last-child > span {
  display: inline-block;
  padding-top: 20rem;
  padding-bottom: 20rem;
  padding-left: 41rem;
  padding-right: 41rem;
  color: #959eaf;
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 300;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.active {
  visibility: hidden;
}
*/





