@import "vars/fonts.css";

.root {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 50rem;
  background-color: #50597b;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logo > div {
  margin-left: 20rem;
}

.logo > span {
  color: #ffffff;
  font-family: var(--font-family);
  font-size: 18rem;
  font-weight: 600;
  margin-left: 15rem;
}

.constrols {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.bell {
  margin: 0 20rem 0 30rem;
}

.user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding-right: 20rem;
  padding-left: 20rem;
  box-sizing: border-box;
  cursor: pointer;
}

.user > span {
  display: inline-block;
  vertical-align: middle;
  color: #959eaf;
  font-family: var(--font-family);
  font-size: 15px;
  font-weight: 400;
  margin-right: 20rem;
}

.sub_menu {
  display: none;
  list-style: none;
  position: absolute;
  top: 43rem;
  right: 0;
  min-width: 170rem;
  background-color: #ffffff;
  padding: 0;
}

.sub_menu::before {
  content: "";
  border: 8rem solid #ffffff;
  border-top-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;
  position: absolute;
  right: 17rem;
  top: -13rem;
}

.sub_menu > li {
  display: flex;
  align-items: center;
  height: 40rem;
  color: #959eaf;
  font-family: var(--font-family);
  font-size: 14rem;
  font-weight: 400;
  cursor: pointer;
  border-bottom: 1rem solid #edecec;
}

.sub_menu > li:last-child {
  border-bottom: 0;
}

.sub_menu > li div:first-child {
  margin-right: 20rem;
  margin-left: 16rem;
  margin-top: 4rem;
}

.user:hover .sub_menu {
  display: block;
}
