@import "vars/fonts.css";

.block {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #ffffff;
}

.block > div:first-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150rem;
}

.block > div:first-child h2{
  text-align: center;
  color: #2e384d;
  font-size: 36rem;
  font-family: var(--font-family);
  margin: 0rem;
  font-weight: 500;
}

.block > div:last-child > ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  padding: 0rem;
  margin: 0rem;
}

.block > div:last-child > ul > li:nth-child(2) {
  margin-right: 100rem;
  margin-left: 100rem;
}
