@import "vars/fonts.css";

.root{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-width: 450rem;
  height: 800rem;
  background-color: #2e384d;
  padding-top: 23rem;
  padding-bottom: 40rem;
}

.root > div:first-of-type {
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding-left: 50rem;
  padding-right: 50rem;
}

.root > div:first-of-type > div:first-of-type {
  display: flex;
  align-items: center;
}

.root > div:first-of-type > div:first-of-type > img {
  margin-right: 20rem;
}

.root > div:first-of-type > div:first-of-type > span {
  display: inline-block;
  vertical-align: middle;
  color: #ffffff;
  font-family: var(--font-family);
  font-size: 24rem;
  font-weight: 400;
}
.root h1 {
  text-align: center;
  color: #ffffff;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 30rem;
  text-transform: uppercase;
}

.root p {
  color: #959eaf;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 22rem;
  text-align: center;
}

@media (max-width: 700px) {
  .root > div:first-of-type > div:first-of-type > span {
    font-size: 40rem;
  }
  .root h1 {
    font-size: 40rem;
    line-height: 1.5;
    padding-right: 40rem;
    padding-left: 40rem;
  }
  .root p {
    font-size: 40rem;
    line-height: 1.5;
  }
}

